<%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Jokes by category: <%= category %></h1>

    <% jokesList.forEach((joke)=> { %>
        <h3><%= joke.setup %></h3>
        <h4><%= joke.delivery %></h4>
        <br>
    <% }) %>
    
</body>